@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


.header{
    width: 100%;
    height: 63px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-list a {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 600;
    color: #2E2E3A;
    text-decoration: none;
}

.menu-list a:active {
    color: #0062FF;
}

.menu-list a:hover {
    color: #0062FF;
}

.menu-list {
    list-style: none;
    display: flex;
    gap: 30px;
    padding: 0px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.left-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 20px;
}


.left-header .user-settings {
    display: flex;
    gap: 25px;
}

.left-header .user-profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.left-header .user-profile p {
    margin: 0px;
}

.left-header .user-information {
    display: flex;
    flex-direction: column;
}

.left-header .user-information p {
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 600;
    color: #2E2E3A;
}

.left-header .user-information small {
    font-family: 'Inter';
    font-size: 12px;
    font-weight: normal;
    color: #9A9AAF;
}

.left-header .user-profile .user-photo img {
    border-radius: 50%;
}


@media (max-width: 767px) {
    .header {
        justify-content: center;
    }
    
    .menu-list, .left-header {
        display: none;
    }
}

/* @media (max-width: 425px) {
    .header {
        justify-content: center;
    }
    
    .menu-list, .left-header {
        display: none;
    }
} */


/*Terceira tentativa*/



/*Terceira tentativa*/


body{
    background-color: rgba(245, 245, 245, 1);
}

.container-box-search{
    background-color: white;
    height: 93px;
    width: 960px;
    margin: 34px auto;
    border-radius: 10px;
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
}

/*Input*/
.container-box-search input[type="text"] {
    padding: 0 0 0 2px;
    border: none;
    outline: none;
    font-size: 25px;
    background-color:rgba(245, 245, 245, 1) ;
    border-radius: 10px;
    width: 920px; /* Ajusta a largura do input conforme necessário */
    height: 53px;
    background-image: url("/assets/imgs/lupa-svg.svg");/* Define a imagem como plano de fundo */  
    background-repeat: no-repeat; /* Evita a repetição da imagem */
    background-position: calc(100% - 0px) center; /* Ajusta a posição da imagem */
    background-size: 63px; /* Ajusta o tamanho da imagem */
}
.container-box-search button {
    border: none;
    background: none;
    cursor: pointer;
    outline: none; /* Remove o contorno padrão */
    height: 100%;
}
/*Input*/

/*MAIN PRODUCTS-GRID*/
main {
    width: 960px; /* Define a largura do elemento */
    margin: 0 auto; /* Define margens automáticas para centralizar */
  }
.container-grid{
    display: grid;
    grid-template-columns: 305px 305px 305px;;
    grid-template-rows: 333px 333px;
    gap: 20px; /* Espaçamento entre os itens */
    flex-direction: ;
}

.item {
    background-color: white; /* Cor de fundo temporária */
    padding: 20px;
    text-align: center;
  }
/* End MAIN PRODUCTS-GRID*/

/*MAIN PRODUCTS-GRID*/

.container-img{
    width: 270px;
    height: 187px;
    /* border: 1px solid black; */
}

.container-img-description{
    width: 270px;
    height: 120px;
    /* border: 1px solid black; */
}
.container-img-description-1{
    width: 252px;
    height: 40px;
    /* border: 1px solid black; */
    margin: 10px auto;
    text-align: left;
}
.container-img-description-2{
    width: 252px;
    height: 21px;
    /* border: 1px solid black; */
    margin: 9px auto;
    font-size: 16.8px;
    text-align: left;
}
.container-img-description-2 s{
    font-size: 12px;
}

.container-img-descrption-3{
    width: 64px;
    height: 18px;
    /* border: 1px solid black; */
    margin: 9px 0px 9px 8px;
    text-align: left;
}

.container-img-description-status-1{
    width: 38px;
    height: 16px;
    /* border: 1px solid black; */
    margin: 93px 54px 9px auto;
}

.container-img-description-status-2{
    width: 38px;
    height: 16px;
    /* border: 1px solid black; */
    margin: -26px 9px 9px auto;

}







/* ENDMAIN PRODUCTS-GRID*/
























/*Segunda tentativa*/
/* body{
    background-color: rgba(237, 237, 242, 1)
}
main{

}
.container-box{ 
    width: 960px;
    height: 93px;
    background-color: white;
    border-radius: 10px;
    margin: 50px auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
 }
 .container-search{
    display: flex;
    align-items: center;
 }
 .search-button {
    position: relative ;
    right: 0;
    top: 0;
    height: 100%;
    border: none;
    background: none;
    padding: 0;
    margin-left: -60px;
    
}
 #input{
    height: 53px;
    width: 920px;
    background-color:rgba(237, 237, 242, 1);
    border: none;
    border-radius: 10px;
    font-family:sans-serif ;
    color: #4a4a57;
    font-size: 20px;
    outline: none;   
}
main{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 960px;
   margin: 0 auto;
   margin-top: 20px;

}
.container-product{
    height: 332px;
    width: 305px;
            border: 1px solid black; <-
    border-radius: 10px;
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 23px 0 0;
    
}
.container-product-img{
    height: 187px;
    width: 270px;
            border:  1px solid black; <-
    margin-top: -110px;
}
.product-description{
             border: 1px solid black; <-
    width: 252px;
    height: 40px;
    position: absolute;
    top: 210px;
}
.product-price{
             border: 1px solid black; <-
    width: 252px;
    height: 21px;
    position: absolute;
    top: 260px;
    font-size: 18px;
}
.product-store{
             border: 1px solid black; <-
    width: 64px;
    height: 18px;
    position: absolute;
    top: 295px;
    left: 25.5px;
}
.product-status{
             border: 1px solid black; <-
    width: 110px;
    height: 52px;
    position: absolute;
    top: 278px;
    right:25.5px ;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
.price-one{
             border: 1px solid black; <-
    display: inline-block;
    font-size: 20px;
}
.price-two{
             border: 1px solid black; <-
    display: inline-block; 
    font-size: 16px;
} */
/*Segunda tentativa*/
